<header class="m-header" style="background-image: url(<%= theme.head_img %>)">
  <div class="m-content-width">
    <% if (is_home()){ %>
    <div class="title">
      <h1><%= config.title %></h1>
      <h3><%= config.subtitle %></h3>
    </div>
    <% } else if (is_tag()) { %>
    <a class="btn-back-home" href="<%= config.root %>">Home</a>
    <div class="big-tag">
      <div class="tag-name"><%= page.tag %></div>
    </div>
    <% } else if (is_post()) { %>
    <a class="btn-back-home" href="<%= config.root %>">Home</a>
    <div class="article-title">
      <h2> <%= page.title %> </h2>
      <time class="pub-time"> <%- date(page.date, 'YYYY.M.D') %></time>
    </div>
    <div class="m-tags">
      <%- list_tags(page.tags, {
        show_count: false,
        style: 'a',
        order: -1
      }) %>
    </div>
    <% } %>
  </div>
</header>